In [2]:
import pandas as pd
import os

In [4]:
movie_ratings = pd.read_csv('/Users/vaibhavrangan/Downloads/Stat 303-1/Data/movie_ratings.csv')
print(type(movie_ratings))

FileNotFoundError: [Errno 2] No such file or directory: '/Users/vaibhavrangan/Downloads/Stat 303-1/Data/movie_ratings.csv'

In [4]:
movie_ratings.head(10)

,Title,US Gross,Worldwide Gross,Production Budget,Release Date,MPAA Rating,Source,Major Genre,Creative Type,IMDB Rating,IMDB Votes
0,Opal Dreams,14443,14443,9000000,Nov 22 2006,PG/PG-13,Adapted screenplay,Drama,Fiction,6.5,468
1,Major Dundee,14873,14873,3800000,Apr 07 1965,PG/PG-13,Adapted screenplay,Western/Musical,Fiction,6.7,2588
2,The Informers,315000,315000,18000000,Apr 24 2009,R,Adapted screenplay,Horror/Thriller,Fiction,5.2,7595
3,Buffalo Soldiers,353743,353743,15000000,Jul 25 2003,R,Adapted screenplay,Comedy,Fiction,6.9,13510
4,The Last Sin Eater,388390,388390,2200000,Feb 09 2007,PG/PG-13,Adapted screenplay,Drama,Fiction,5.7,1012
5,The City of Your Final Destination,493296,493296,8300000,Apr 16 2010,PG/PG-13,Adapted screenplay,Drama,Fiction,6.6,430
6,The Claim,622023,622023,13000000,Dec 29 2000,R,Adapted screenplay,Western/Musical,Fiction,6.5,3681
7,Texas Rangers,623374,623374,38000000,Nov 30 2001,PG/PG-13,Adapted screenplay,Western/Musical,Fiction,5.0,2645
8,Ride With the Devil,630779,630779,35000000,Nov 24 1999,R,Adapted screenplay,Western/Musical,Fiction,6.4,1873
9,Karakter,713413,713413,4500000,Mar 27 1998,R,Adapted screenplay,Drama,Fiction,7.8,5531

In [5]:
movie_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2228 entries, 0 to 2227
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2228 non-null   object
 1   US Gross           2228 non-null   int64
 2   Worldwide Gross    2228 non-null   int64
 3   Production Budget  2228 non-null   int64
 4   Release Date       2228 non-null   object
 5   MPAA Rating        2228 non-null   object
 6   Source             2228 non-null   object
 7   Major Genre        2228 non-null   object
 8   Creative Type      2228 non-null   object
 9   IMDB Rating        2228 non-null   float64
 10  IMDB Votes         2228 non-null   int64
dtypes: float64(1), int64(4), object(6)
memory usage: 191.6+ KB

In [7]:
movie_ratings.shape

(2228, 11)

In [8]:
movie_ratings.columns

Index(['Title', 'US Gross', 'Worldwide Gross', 'Production Budget',
       'Release Date', 'MPAA Rating', 'Source', 'Major Genre', 'Creative Type',
       'IMDB Rating', 'IMDB Votes'],
      dtype='object')

In [9]:
movie_ratings.describe()

,US Gross,Worldwide Gross,Production Budget,IMDB Rating,IMDB Votes
count,2.228000e+03,2.228000e+03,2.228000e+03,2228.000000,2228.000000
mean,5.076370e+07,1.019370e+08,3.816055e+07,6.239004,33585.154847
std,6.643081e+07,1.648589e+08,3.782604e+07,1.243285,47325.651561
min,0.000000e+00,8.840000e+02,2.180000e+02,1.400000,18.000000
25%,9.646188e+06,1.320737e+07,1.200000e+07,5.500000,6659.250000
50%,2.838649e+07,4.266892e+07,2.600000e+07,6.400000,18169.000000
75%,6.453140e+07,1.200000e+08,5.300000e+07,7.100000,40092.750000
max,7.601676e+08,2.767891e+09,3.000000e+08,9.200000,519541.000000

In [12]:
movie_ratings["Title"]
movie_ratings.Title

0                         Opal Dreams
1                        Major Dundee
2                       The Informers
3                    Buffalo Soldiers
4                  The Last Sin Eater
                    ...
2223                      King Arthur
2224                            Mulan
2225                       Robin Hood
2226    Robin Hood: Prince of Thieves
2227                       Spiceworld
Name: Title, Length: 2228, dtype: object

In [13]:
movie_ratings[["Title", "US Gross", "Worldwide Gross"]]

                              Title   US Gross  Worldwide Gross
0                       Opal Dreams      14443            14443
1                      Major Dundee      14873            14873
2                     The Informers     315000           315000
3                  Buffalo Soldiers     353743           353743
4                The Last Sin Eater     388390           388390
...                             ...        ...              ...
2223                    King Arthur   51877963        203877963
2224                          Mulan  120620254        303500000
2225                     Robin Hood  105269730        310885538
2226  Robin Hood: Prince of Thieves  165493908        390500000
2227                     Spiceworld   29342592         56042592

[2228 rows x 3 columns]

In [15]:
movie_ratings['ratio_wgross_by_budget'] = movie_ratings['Worldwide Gross']/movie_ratings['Production Budget']
movie_ratings.head()

,Title,US Gross,Worldwide Gross,Production Budget,Release Date,MPAA Rating,Source,Major Genre,Creative Type,IMDB Rating,IMDB Votes,ratio_wgross_by_budget
0,Opal Dreams,14443,14443,9000000,Nov 22 2006,PG/PG-13,Adapted screenplay,Drama,Fiction,6.5,468,0.001605
1,Major Dundee,14873,14873,3800000,Apr 07 1965,PG/PG-13,Adapted screenplay,Western/Musical,Fiction,6.7,2588,0.003914
2,The Informers,315000,315000,18000000,Apr 24 2009,R,Adapted screenplay,Horror/Thriller,Fiction,5.2,7595,0.017500
3,Buffalo Soldiers,353743,353743,15000000,Jul 25 2003,R,Adapted screenplay,Comedy,Fiction,6.9,13510,0.023583
4,The Last Sin Eater,388390,388390,2200000,Feb 09 2007,PG/PG-13,Adapted screenplay,Drama,Fiction,5.7,1012,0.176541

In [16]:
# sort movies by IMDB ratings
movie_ratings_sorted = movie_ratings.sort_values(by = "IMDB Rating", ascending = False)
movie_ratings_sorted.head()

,Title,US Gross,Worldwide Gross,Production Budget,Release Date,MPAA Rating,Source,Major Genre,Creative Type,IMDB Rating,IMDB Votes,ratio_wgross_by_budget
182,The Shawshank Redemption,28241469,28241469,25000000,Sep 23 1994,R,Adapted screenplay,Drama,Fiction,9.2,519541,1.129659
2084,Inception,285630280,753830280,160000000,Jul 16 2010,PG/PG-13,Original Screenplay,Horror/Thriller,Fiction,9.1,188247,4.711439
790,Schindler's List,96067179,321200000,25000000,Dec 15 1993,R,Adapted screenplay,Drama,Non-Fiction,8.9,276283,12.848000
1962,Pulp Fiction,107928762,212928762,8000000,Oct 14 1994,R,Original Screenplay,Drama,Fiction,8.9,417703,26.616095
561,The Dark Knight,533345358,1022345358,185000000,Jul 18 2008,PG/PG-13,Adapted screenplay,Action/Adventure,Fiction,8.9,465000,5.526191

In [1]:
# subset dataframe by .loc using axis labels
movies_subset = movie_ratings_sorted.loc[[182, 2084, 790],["Title", "Worldwide Gross", "Production Budget", "IMDB Rating"]]
movies_subset

NameError: name 'movie_ratings_sorted' is not defined

In [25]:
movies_iloc_subset = movie_ratings_sorted.iloc[182:790, [0,2,3,9]]
movies_iloc_subset

,Title,Worldwide Gross,Production Budget,IMDB Rating
846,Star Trek II: The Wrath of Khan,96800000,12000000,7.8
774,Munich,130279090,75000000,7.8
55,Control,5645350,6400000,7.8
773,La marche de l'empereur,129437223,3400000,7.8
221,Thank You For Smoking,39232211,7500000,7.8
...,...,...,...,...
119,"Bright Lights, Big City",16118077,25000000,6.8
1793,Hitman,99965792,17500000,6.8
675,Rize,4462763,700000,6.8
1528,Scoop,39125717,4000000,6.8
477,Quantum of Solace,576368427,230000000,6.8

In [26]:
movie_ratings[movie_ratings["IMDB Rating"] > 8]

,Title,US Gross,Worldwide Gross,Production Budget,Release Date,MPAA Rating,Source,Major Genre,Creative Type,IMDB Rating,IMDB Votes,ratio_wgross_by_budget
21,"Gandhi, My Father",240425,1375194,5000000,Aug 03 2007,Other,Adapted screenplay,Drama,Non-Fiction,8.1,50881,0.275039
56,Ed Wood,5828466,5828466,18000000,Sep 30 1994,R,Adapted screenplay,Comedy,Non-Fiction,8.1,74171,0.323804
67,Requiem for a Dream,3635482,7390108,4500000,Oct 06 2000,Other,Adapted screenplay,Drama,Fiction,8.5,185226,1.642246
164,Trainspotting,16501785,24000785,3100000,Jul 19 1996,R,Adapted screenplay,Drama,Fiction,8.2,150483,7.742189
181,The Wizard of Oz,28202232,28202232,2777000,Aug 25 2039,G,Adapted screenplay,Western/Musical,Fiction,8.3,102795,10.155647
...,...,...,...,...,...,...,...,...,...,...,...,...
2090,Finding Nemo,339714978,867894287,94000000,May 30 2003,G,Original Screenplay,Action/Adventure,Fiction,8.2,165006,9.232918
2092,Toy Story 3,410640665,1046340665,200000000,Jun 18 2010,G,Original Screenplay,Action/Adventure,Fiction,8.9,67380,5.231703
2094,Avatar,760167650,2767891499,237000000,Dec 18 2009,PG/PG-13,Original Screenplay,Action/Adventure,Fiction,8.3,261439,11.678867
2130,Scarface,44942821,44942821,25000000,Dec 09 1983,Other,Adapted screenplay,Drama,Fiction,8.2,152262,1.797713
2194,The Departed,133311000,290539042,90000000,Oct 06 2006,R,Adapted screenplay,Drama,Fiction,8.5,264148,3.228212

In [27]:
movie_ratings[(movie_ratings["IMDB Rating"] > 8) & (movie_ratings["US Gross"] < 1000000)]

,Title,US Gross,Worldwide Gross,Production Budget,Release Date,MPAA Rating,Source,Major Genre,Creative Type,IMDB Rating,IMDB Votes,ratio_wgross_by_budget
21,"Gandhi, My Father",240425,1375194,5000000,Aug 03 2007,Other,Adapted screenplay,Drama,Non-Fiction,8.1,50881,0.275039
636,Lake of Fire,25317,25317,6000000,Oct 03 2007,Other,Adapted screenplay,Documentary,Non-Fiction,8.4,1027,0.004220

In [30]:
movie_ratings[(movie_ratings["IMDB Rating"] > 8) & (movie_ratings["US Gross"] < 1000000)][["Title", "IMDB Rating"]]

                 Title  IMDB Rating
21   Gandhi, My Father          8.1
636       Lake of Fire          8.4

In [31]:
# combining .loc with conditions
movie_ratings.loc[(movie_ratings['IMDB Rating'] > 8) & (movie_ratings['US Gross'] < 1000000),['Title','IMDB Rating']]

                 Title  IMDB Rating
21   Gandhi, My Father          8.1
636       Lake of Fire          8.4

In [32]:
# idxmin() and idxmax(): return the index label of the first occurrence of the maximum or minimum value in a specified column.
max_index = movie_ratings_sorted['Worldwide Gross'].idxmax()
min_index = movie_ratings_sorted['Worldwide Gross'].idxmin()
print("Max index: ", max_index)
print("Min index: ", min_index)

Max index:  2094
Min index:  896

In [36]:
print(movie_ratings_sorted.loc[max_index, "Worldwide Gross"])
print(movie_ratings_sorted.loc[min_index, "Worldwide Gross"])

2767891499
884

In [39]:
# argmax() and argmin(): Return the integer position of the first occurrence of the maximum or minimum value in a column
# can use these integer positions with .iloc to extract the corresponding row
max_position = movie_ratings_sorted["Worldwide Gross"].argmax()
print("max position:", max_position)

min_position = movie_ratings_sorted["Worldwide Gross"].argmin()
print("min position:", min_position)

max position: 48
min position: 2149